In [1]:
import pandas as pd

print(pd.__version__)

1.4.4

In [ ]:
df = pd.read_csv('./data/titanicfull.csv')
df.head()

In [ ]:
df[(df['sex'] =='female') & (df['age']>=60) & (df['embarked']=='S') & (df['survived']==1)]

In [ ]:
df[
    (df['sex']=='female') &
    (df['age']>=60) &
    (df['embarked']=='S') &
    (df['survived']==1)
]

In [ ]:
k1r = df['sex' ]=='female'
kr2 = df['age']>=60
kr3 = df['embarked']=='S'
kr4 = df['survived']==1

df[kr1 & kr2 & kr3 & kr4]